/* src\components\projects\projects.css */

.projects__container {
  grid-template-columns: 1fr;
  text-align: center;
}

.projects__info {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  margin-bottom: var(--mb-2);
}

.projects__data {
  max-width: 800px;
  margin: 0 auto;
}

.projects__description {
  text-align: justify;
  font-size: 1.2rem;
  margin: var(--mb-2) auto;
  padding: 0 1rem;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.project__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 1.25rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project__box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.project__title {
  font-size: 1.2rem;
  font-weight: var(--font-medium);
}

.project__subtitle {
  font-size: 1rem;
  color: var(--text-color-light);
}

.project__short-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project__more-button {
  background-color: rgb(127, 176, 211); /* Temporary color for visibility */
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Ensure it is a block element */
  margin: 1rem auto; /* Center it horizontally */
}

.project__more-button:hover {
    background-color: #0056b3;
}

.project__details {
  margin-top: 1rem;
  font-size: 1rem;
}

.project__details ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.project__visit-button {
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--button-color);
  color: var(--container-color);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.project__visit-button:hover {
  background-color: var(--button-hover-color);
}

@media screen and (max-width: 992px) {
  .projects__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .project__box {
    padding: 0.75rem 1rem;
  }

  .projects__data {
    text-align: center;
  }

  .projects__description {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .projects__info {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects__description {
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .projects__info {
    grid-template-columns: repeat(3, 1fr);
  }
}
