.skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem 0;
}

.skills__content {
  background-color: white;
  border: 1px solid var(--border-color);
  padding: 2rem 3rem;
  border-radius: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

.skills__title {
  font-size: 1.8rem;
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.skill__circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.skill__circle-progress {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: conic-gradient(#0092ed calc(var(--progress) * 1%), #e0e0e0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.skill__circle-progress svg {
  font-size: 2rem;
  z-index: 1;
  transition: all 0.3s ease;
}

.skill__circle-progress::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.skill__percentage {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: #497289;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2;
}

.skill__circle-progress:hover svg {
  opacity: 0;
  transform: scale(0.8);
}

.skill__circle-progress:hover .skill__percentage {
  opacity: 1;
  transform: scale(1.1);
}

.skill__circle-name {
  font-size: 1rem;
  text-align: center;
  font-weight: var(--font-medium);
  color: var(--text-color-dark);
}

@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .skills__group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .skills__group {
    grid-template-columns: 1fr;
  }
}