/* src/components/contact/contact.css */

.contact__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
}

.contact__modal-content {
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}

.contact__modal-close:hover {
  color: var(--title-color);
}

.contact__modal-content h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
}

.contact__modal-content p {
  margin-bottom: 1.5rem;
  font-size: 18px;
  color: var(--text-color);
}

.contact__modal-content strong {
  color: var(--primary-color);
  font-size: 20px;
}

.contact__modal-button {
  background-color: rgb(127, 176, 211);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__modal-button:hover {
  background-color: rgb(61, 95, 120);
}

.catchphrase {
  font-size: 40px;
}