/* src\components\WelcomePage\welcomePage.css */

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-color);
  color: var(--font-color);
  font-family: var(--body-font);
  opacity: 1;
  transition: opacity 1s ease-in-out;
  text-align: center;
}

.welcome-page.fade-out {
  opacity: 0;
}

.welcome-message {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.welcome-message h1 {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .welcome-message h1 {
    font-size: var(--h1-font-size);
  }
}